body{
    background-color: cadetblue;
}
.flex-container{
    display: flex;
    flex-direction: row;
  
    flex-wrap: wrap;
    

}
.box{
    
   
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    flex-grow: 1;
}
img{
    width: 100%;
    height: 100%;
    
}
@media screen and (max-width: 720px){
    .header{
        background-color: bisque;
    }
    .header h1{
       
        text-align: center;
    }
    .header ul{
        display: none;
    }


}
